@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: lighter;
    src: local('SEGA LOGO FONT'), url('../containers/font/SEGA.woff') format('woff');
    }

h2{
    font-family: 'SEGA LOGO FONT';
    color:black;
    font-size:smaller;
}